apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
- ../../base

# Remove backup cronjob from staging
  # Configure broadcaster to log only in staging
patches:
- patch: |-
    $patch: delete
    apiVersion: batch/v1
    kind: CronJob
    metadata:
      name: postgres-gcs-backup
  target:
    kind: CronJob
    name: postgres-gcs-backup
- patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/env
      value:
        - name: NATS_URL
          value: "nats://my-nats.nats.svc.cluster.local:4222"
        - name: LOG_ONLY
          value: "true"
        - name: DISCORD_WEBHOOK_URL
          value: "not-required-in-staging"
  target:
    kind: Deployment
    name: broadcaster
images:
- name: PROJECT/backend-todos
  newName: shehzadkhuwaja/backend-todos
  newTag: de473453d224cf4a8bbfc96b8885684900b8b980
- name: PROJECT/broadcaster
  newName: shehzadkhuwaja/broadcaster
  newTag: 882997fd7caec550e48cad79e94e6a676f43a144
- name: PROJECT/todoapp
  newName: shehzadkhuwaja/todoapp
- name: PROJECT/todoappfrontend
  newName: shehzadkhuwaja/todoappfrontend
- name: PROJECT/todo-cronjob
  newName: shehzadkhuwaja/todo-cronjob
