apiVersion: v1
kind: Pod
metadata:
  name: log-output-dep
  labels:
    app: log-output
  namespace: exercises
spec:
  volumes:
    - name: shared-logs
      emptyDir: {}
    - name: shared-image
      persistentVolumeClaim:
        claimName: image-claim
    - name: config
      configMap:
        name: log-output-config-map
        items:
          - key: "information.txt"
            path: "information.txt"
  containers:
    - name: log-writer
      image: shehzadkhuwaja/string-generator:latest
      volumeMounts:
        - name: shared-logs
          mountPath: /shared
    - name: log-reader
      image: shehzadkhuwaja/string-reader:latest
      env:
      - name: MESSAGE
        valueFrom:
          configMapKeyRef:
            name: log-output-config-map
            key: MESSAGE
      ports:
        - containerPort: 3000
      volumeMounts:
        - name: shared-logs
          mountPath: /shared
        - name: shared-image
          mountPath: /ping-pong-data
        - name: config
          mountPath: "/config"
          readOnly: true