apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: ping-pong-rollout
  namespace: exercises
spec:
  replicas: 1

  selector:
    matchLabels:
      app: ping-pong

  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: shehzadkhuwaja/ping-pong:latest

          readinessProbe:
            httpGet:
              path: /ready
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 5

          ports:
            - containerPort: 3000

          envFrom:
            - configMapRef:
                name: pingpong-config

          env:
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: pingpong-secret
                  key: PGPASSWORD

  strategy:
    canary:
      steps:
        - setWeight: 50
        - pause:
            duration: 2m

        - analysis:
            templates:
              - templateName: ping-pong-cpu-usage-analysis

        - setWeight: 100
