apiVersion: v1
kind: Service
metadata:
  name: postgres-svc
  namespace: exercises
  labels:
    app: postgresApp
spec:
  type: NodePort
  ports:
    - port: 80
      protocol: TCP
      targetPort: 5432
  selector:
    app: postgresApp